<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flower.bd.po.mapper.TeacherActionHistoryMapper">
 <resultMap id="TeacherActionMap" type="TeacherActionPo" >
    <result property="courseName" column="coursename"/>
	<result property="groupName" column="groupname"/>
	<result property="userName" column="personname"/>
	<result property="clickNum" column="click_num"/>
	<result property="onlineNum" column="online_num"/>
	<result property="postNum" column="post_num"/>
</resultMap>

  <select id="getTeacherActionCount" resultType="Integer" >
  select count(t.col1) from (select count(1) as col1  from dm_f_teacher_action_backup_history where  zzid like  #{zzid}  <if test="termId != null and termId != ''"> and termid=#{termId}</if>
    group by coursename,groupname,personname) t
  </select> 
  
 <select id="getTeacherActionListByPage" resultType="TeacherActionPo" resultMap="TeacherActionMap" parameterType="java.util.Map" >
 select coursename,groupname,personname,sum(click_num) as click_num ,sum(online_num) as online_num,sum(post_num) as post_num 
 from dm_f_teacher_action_backup_history 
 where   zzid like  #{condition.zzid}  <if test="condition.termId != null  and condition.termId != ''"> and termid=#{condition.termId}</if>
  group by coursename,groupname,personname  
   order by ${page.sidx} ${page.sord}  limit #{page.start},#{page.rows}
 </select>
  <!-- add 按课程查询 by 20171017 start-->
	  <select id="getTeacherActionCountByCourseIDAndFrom" resultType="Integer" >
	  select count(t.col1) from (select count(1) as col1  from dm_f_teacher_action_backup_history 
	  where  
	  	courseid=${courseID} AND fromsource=#{fromSource}  
	  	<if test="termId != null and termId != ''"> and termid=#{termId}</if>
	    group by coursename,groupname,personname) t
	  </select> 
	  
	 <select id="getTeacherActionListByCourseIDAndFromByPage" resultType="TeacherActionPo" resultMap="TeacherActionMap" parameterType="java.util.Map" >
	 select coursename,groupname,personname,sum(click_num) as click_num ,sum(online_num) as online_num,sum(post_num) as post_num 
	 from dm_f_teacher_action 
	 where   
	 	courseid=${condition.courseID} AND fromsource=#{condition.fromSource}
	 	<if test="condition.termId != null  and condition.termId != ''"> and termid=#{condition.termId}</if>
	  group by coursename,groupname,personname  
	   order by ${page.sidx} ${page.sord}  limit #{page.start},#{page.rows}
	 </select>
  <!-- add 按课程查询 by 20171017 end-->
  
  <!-- add 按课程shortname查询 by 20171026 start-->
  <select id="getTeacherActionCountByShortName" resultType="Integer" >
    SELECT COUNT(tc0) FROM (
  	SELECT ta.termid tc0 FROM dm_f_teacher_action_backup_history ta
  	LEFT JOIN dm_course c ON ta.courseid = c.id AND ta.fromsource = c.fromsource
  	<where>
  		<if test="zzid !=null and zzid !=''">
  			ta.zzid LIKE CONCAT('${zzid}','%')
  		</if>
  		<if test="shortName !=null and shortName !=''">
  			AND c.shortname = #{shortName}
  		</if>
  		<if test="termId != null and termId != ''"> 
  			AND termid=#{termId}
  		</if>
  	</where>
  	GROUP BY coursename,groupname,personname ) t
  </select> 
  <select id="getTeacherActionListByShortNameByPage" resultType="TeacherActionPo" resultMap="TeacherActionMap" parameterType="java.util.Map" >
  	SELECT 
  		coursename,groupname,personname,sum(click_num) as click_num ,sum(online_num) as online_num,sum(post_num) as post_num 
 	FROM 
 		dm_f_teacher_action_backup_history ta
	LEFT JOIN 
		dm_course c ON ta.courseid = c.id AND ta.fromsource = c.fromsource
 	<where>
 		<if test="zzid !=null and zzid !=''">
  			ta.zzid LIKE CONCAT('${zzid}','%')
  		</if>
  		<if test="shortName !=null and shortName !=''">
  			AND c.shortname = #{shortName}
  		</if>
  		<if test="termId != null and termId != ''"> 
  			AND termid=#{termId}
  		</if>
  	</where>
  	GROUP BY coursename,groupname,personname  
    ORDER BY ${page.sidx} ${page.sord}  limit #{page.start},#{page.rows}
 </select>
 <!-- add 按课程shortname查询 by 20171026 end-->  
</mapper>  